{
  "name": "telebot-app",
  "version": "1.0.0",
  "description": "My telebot Telegram bot.",
  "main": "main.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "node ."
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "dependencies": {
    "dotenv": "^16.0.3",
    "sqlite3": "^5.1.4",
    "telebot": "^1.4.1"
  }
}
